<root xmlns="http://certiport.com/hammer/sdk/model">
    <val1>Empty</val1>
    <val2>Empty</val2>
    <val3>Empty</val3>
    <intro>Welcome to the Jungle</intro>
    <distance>20</distance>
    <btnBoundProps>Bound X Position</btnBoundProps>
    <hello><![CDATA[Hello, from models/app: <hello>]]></hello>
    <myVal>App Value</myVal>
    <count>8</count>

    <slide1>examples/v2/slide1</slide1>
</root>