[ng-cloak] {
  display: none;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  padding: 15px;
  margin: 0;
  font-size: 12px;
}
item {
  zoom: 140%;
}
.shadow {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
}
.qti-content p {
  padding: 10px;
}
.qti-question-header {
  background-color: #AA4155;
  height: 25px;
  text-align: left;
  border-style: None;
  color: #FFF;
  padding-left: 8px;
  padding-right: 2px;
  font-weight: bold;
  line-height: 24px;
}
.qti-title {
  font-weight: bold;
  background-color: #ecf0f1;
  padding: 5px;
}
.qti-blueprint {
  background-color: #ecf0f1;
  padding: 5px;
  margin-bottom: 10px;
}
flow_mat {
  display: block;
  padding: 5px;
}
flow_mat[orientation=horizontal] > flow_mat {
  display: inline-block;
}
/*render_choice flow_mat:first-child mattext:before {*/
/*content:url(templates/radio.html)*/
/*}*/
resprocessing {
  display: none;
}
