* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-size: 13px;
}

.qti-fill {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.qti-assessment {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.qti-assessment > .qti-title {
    background: #eeeeee;
    padding: 13px;
    font-size: 14px;
    text-align: center;
    color: #666;
    z-index: 10;

    -webkit-box-shadow: 0px 4px 8px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    0px 4px 8px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         0px 4px 8px 0px rgba(50, 50, 50, 0.35);
}

.qti-content {
    position: absolute;
    top: 43px;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 25px;
    z-index: 1;
}

.qti-container {
    /*position: relative;*/
    /*width: 640px;*/
    /*height: 280px;*/
    /*margin: 15px auto*/
}

.qti-table {
    margin-top: 15px;
}