* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-size: 13px;
}

.qti-fill {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.qti-assessment {
    border: 1px solid #0062AA;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.qti-assessment > .qti-title {
    background: #0062AA;
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
}

.qti-content {
    position: absolute;
    top: 36px;
    left: 0;
    bottom: 0;
    right: 0;
}

.qti-container {
    position: relative;
    width: 640px;
    height: 480px;
    margin: 15px auto
}