<!DOCTYPE html>
<html ng-app="qti" xmlns:pearsonvue="http://pearson.com/qti.html">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <style>
        flow {
            position: relative;
            display: block;
            min-width: 10px;
            min-height: 10px;
        }

        flow[orientation="horizontal"] {
            white-space: nowrap;
            /*font-size: 0;*/
            /*margin-right: -4px;*/
        }

        /*flow[orientation="horizontal"] * {*/
        /*white-space: nowrap;*/
        /*font-size: inherit;*/
        /*}*/

        flow[orientation="horizontal"] > flow {
            display: inline-block;
            height: 100%;
            vertical-align: top;
            margin-right: -4px;
        }

        flow[halign="center"] {
            text-align: center;
        }

        .btn-zoom-in, .btn-zoom-out {
            font-family: 'Ionicons';
            font-size: 32px;
            color: #c0392b;
            text-decoration: none;
            padding: 10px;
        }

        .btn-zoom-in:after {
            content: "\f216";
        }

        .btn-zoom-out:after {
            content: "\f207"
        }

        /*material {*/
        /*font-size: 14px;*/
        /*}*/

        /*material {*/
        /*text-align: right;*/
        /*}*/
    </style>

    <style>
        /*mattext, matimage {*/
        /*position: relative;*/
        /*top: 50%;*/
        /*transform: translateY(-50%);*/
        /*}*/

        matimage {
            display: inline-block;
        }
    </style>
</head>
<body class="rtl">
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.js"></script>

<div class="padding">
    <flow orientation="horizontal">
        <flow>
            <material>
                <matimage uri="Pearson.gif" valign="middle"/>
            </material>
        </flow>
        <flow>
            <material>
                <mattext>Hello World</mattext>
            </material>
        </flow>
    </flow>
</div>

<div class="padding">
    <flow>
        <flow>
            <material>
                <mattext>This is content above the scaled flow.</mattext>
            </material>
        </flow>
        <flow halign="center" border="2, 2, 2, 2" border_color="#000000" background_color="#C0C0C0">
            <pearsonvue:scalefactors>
                <pearsonvue:scalefactor factor="0.5" default="true"/>
                <pearsonvue:scalefactor factor="1.0"/>
                <pearsonvue:scalefactor factor="1.5"/>
            </pearsonvue:scalefactors>
            <material>
                <mattext>The flow that contains this material defines three scale factors, 0.5, 1.0 and 1.5.</mattext>
                <matbreak/>
                <matimage uri="Pearson.gif"/>
            </material>
        </flow>
        <flow>
            <material>
                <mattext>This is content below the scaled flow.</mattext>
            </material>
        </flow>
    </flow>
</div>

<div class="padding">
    <flow width="400" height="200" orientation="horizontal" class="cloud">
        <flow width="10" class="red"></flow>
        <flow width="25%" class="orange"></flow>
        <flow name="silverback" width="25%" class="silver">
            <flow width="10" class="red"></flow>
            <flow width="25%" class="orange"></flow>
            <flow width="50%" class="purple"></flow>
            <flow width="100%" class="blue"></flow>
        </flow>
        <flow width="25%" class="silver" orientation="horizontal">
            <flow width="10" class="red"></flow>
            <flow width="25%" class="orange">
                <material>
                    <mattext>Hello World</mattext>
                </material>
            </flow>
            <flow width="100%" class="purple"></flow>
            <flow width="100%" class="blue"></flow>
        </flow>
    </flow>
</div>

<div class="padding">
    <flow orientation="vertical">
        <flow firstlineindent="25">
            <flow>
                <material>
                    <mattext>Here is an example of using the attribute "firstlineindent" on
                        the element "flow". Notice how this paragraph is indented 25 characters.
                    </mattext>
                </material>
            </flow>
            <flow firstlineindent="10">
                <material>
                    <mattext>Here is an example of using the attribute "firstlineindent" on the element "flow". Notice
                        how this paragraph is indented 50 characters.
                    </mattext>
                </material>
            </flow>
        </flow>
    </flow>
</div>


<div class="padding">
    <flow orientation="vertical" background_color="#f39c12" border="20, 2, 2, 2" border-color="#2c3e50">
        <flow halign="center">
            <material>
                <img src="Pearson.gif"/>
            </material>
        </flow>
        <flow inset="100, 50, 100, 0">
            <material>
                <mattext>Hello World</mattext>
            </material>
        </flow>
    </flow>
</div>

<div class="padding">
    <flow width="400" height="200" orientation="horizontal" class="cloud">
        <flow width="10" class="red"></flow>
        <flow width="25%" class="orange"></flow>
        <flow width="100%" class="purple"></flow>
        <flow width="100%" class="blue"></flow>
    </flow>
</div>

<div class="padding">
    <flow>
        <material>
            <mattext>Hello World</mattext>
        </material>
    </flow>
</div>


<div class="padding purple">
    <flow orientation="horizontal">
        <flow>
            <material>
                <mattext>Hello again</mattext>
            </material>
        </flow>
        <flow width="40">
            <material>
                <img src="http://www.w3.org/html/logo/downloads/HTML5_Badge_512.png" alt=""/>
            </material>
        </flow>
    </flow>
</div>

<script>
    angular.module('qti', []);
    angular.module('qti').directive('backgroundColor', function () {
        // p.67
        return {
            restrict: 'A',
            link: function ($scope, $el, $attr) {
                if ($attr.backgroundColor) {
                    $el[0].style['background-color'] = $attr.backgroundColor;
                }
            }
        }
    });

    angular.module('qti').directive('border', function () {
        // p.67
        return {
            restrict: 'A',
            link: function ($scope, $el, $attr) {
                var el = $el[0];
                var px = 'px';
                if ($attr.border) {
                    el.style['border-style'] = 'solid';
                    if ($attr.border.indexOf(',') === -1) {
                        el.style.border = parseInt($attr.border, 10) + px;
                    } else {
                        var borders = $attr.border.split(',');
                        el.style['border-top-width'] = parseInt(borders[0], 10) + px;
                        el.style['border-left-width'] = parseInt(borders[1], 10) + px;
                        el.style['border-bottom-width'] = parseInt(borders[2], 10) + px;
                        el.style['border-right-width'] = parseInt(borders[3], 10) + px;
                    }
                }

                if ($attr.borderColor) {
                    el.style['border-color'] = $attr.borderColor;
                }
            }
        }
    });

    angular.module('qti').directive('firstlineindent', function () {
        return {
            restrict: 'A',
            link: function ($scope, $el, $attr) {
                var mattexts, str, i, len;
                str = '';
                len = parseInt($attr.firstlineindent, 10);
                for (i = 0; i < len; i += 1) {
                    str += '&nbsp;';
                }
                mattexts = $el[0].querySelectorAll('mattext:not([fli]');
                len = mattexts.length;
                for (i = 0; i < len; i += 1) {
                    if (!mattexts[i].getAttribute('firstlineindent')) {
                        mattexts[i].innerHTML = str + mattexts[i].innerHTML;
                        mattexts[i].setAttribute('fli', '');
                    }
                }
            }
        }
    });

    angular.module('qti').directive('inset', function () {
        // p.65
        return {
            restrict: 'A',
            link: function ($scope, $el, $attr) {
                var el = $el[0];
                var px = 'px';
                if ($attr.inset) {
                    if ($attr.inset.indexOf(',') === -1) {
                        el.style['padding'] = parseInt($attr.inset, 10) + px;
                    } else {
                        var insets = $attr.inset.split(',');
                        el.style['padding-top'] = parseInt(insets[0], 10) + px;
                        el.style['padding-left'] = parseInt(insets[1], 10) + px;
                        el.style['padding-bottom'] = parseInt(insets[2], 10) + px;
                        el.style['padding-right'] = parseInt(insets[3], 10) + px;
                    }
                }
            }
        }
    });

    angular.module('qti').directive('flow', function () {
        return {
            restrict: 'E',
            scope: true,
            link: function ($scope, $el, $attr) {

                var el = $el[0];
                var px = 'px';

                if ($attr.width) {
                    var unit = String($attr.width).match(/\D+/);
                    if (unit) {
                        el.style.width = $attr.width + unit[0];
                    } else {
                        el.style.width = $attr.width + px;

                        // width is greater than 40 and height is not set (p.62)
                        if ($attr.height === undefined) {
                            if (parseInt($attr.width, 10) > 40) {
                                el.style['overflow'] = 'auto';
                            } else {
                                el.style['overflow'] = 'hidden';
                            }
                        }
                    }
                }

                if ($attr.height) {
                    var unit = String($attr.height).match(/\D+/);
                    if (unit) {
                        el.style.height = $attr.height + unit[0];
                    } else {
                        el.style.height = $attr.height + px;
                    }
                }

                // if we need to detect size changes use this
                // https://github.com/sdecima/javascript-detect-element-resize
            }
        }
    });

    angular.module('qti').directive('pearsonvueScalefactors', function ($compile) {
        return function ($scope, $el, $attr) {

            var scaleFactorsEl = $el[0].querySelectorAll('*');
            var scaleFactorEl, scaleFactor;
            var scaleFactors = [];
            var percent = '%';

            for (var i = 0; i < scaleFactorsEl.length; i += 1) {
                scaleFactorEl = scaleFactorsEl[i];
                scaleFactor = {
                    isDefault: !!scaleFactorEl.getAttribute('default'),
                    factor: Number(scaleFactorEl.getAttribute('factor'))
                };

                scaleFactors.push(scaleFactor);
                if (scaleFactor.isDefault) {
                    $scope.currentScaleFactor = scaleFactor;
                }
            }

            $scope.zoomIn = function () {
                var index = scaleFactors.indexOf($scope.currentScaleFactor);
                if (index + 1 < scaleFactors.length) {
                    index += 1;
                }
                $scope.currentScaleFactor = scaleFactors[index];
                $scope.$broadcast('scalefactor::changed', $scope.currentScaleFactor.factor);
            };

            $scope.zoomOut = function () {
                var index = scaleFactors.indexOf($scope.currentScaleFactor);
                if (index - 1 >= 0) {
                    index -= 1;
                }
                $scope.currentScaleFactor = scaleFactors[index];
                $scope.$broadcast('scalefactor::changed', $scope.currentScaleFactor.factor);
            };

            //create an angular element. (this is still our "view")
            var zoomInEl = '<a class="btn-zoom-in" href="" ng-click="zoomIn()"></a>';
            var zoomOutEl = '<a class="btn-zoom-out" href="" ng-click="zoomOut()"><a>';
            var el = angular.element('<div style="font-size: 14px;padding: 10px">' + zoomInEl + zoomOutEl + '</div>');

            //compile the view into a function.
            var compiled = $compile(el);

            //append our view to the element of the directive.
            $el.append(el);

            //bind our view to the scope!
            //(try commenting out this line to see what happens!)
            compiled($scope);

            $el[0].parentNode.style['font-size'] = 100 * $scope.currentScaleFactor.factor + percent;
        }
    });


    // other
    angular.module('qti').directive('mattext', function () {
        return {
            scope: true,
            link: function ($scope, $el, $attr) {

                var el = $el[0];
                var style = window.getComputedStyle(el);
                var defaultFontSize = style.fontSize;
                var measure = defaultFontSize.replace(/\D+/i, '');
                var unit = defaultFontSize.replace(/\d+/i, '');
                var scaleFactor = 1;

                var updateFontSize = function () {
                    $el.css('fontSize', (measure * scaleFactor) + unit)
                };

                $scope.$on('scalefactor::changed', function (evt, factor) {
                    scaleFactor = factor;
                    updateFontSize();
                });
            }
        }
    });

    //    angular.module('qti').directive('matimage', function () {
    //        return {
    //            scope: true,
    //            link: function ($scope, $el, $attr) {
    //                var el = $el[0];
    //                var style = window.getComputedStyle(el);
    //                var defaultFontSize = style.fontSize;
    //                var measure = defaultFontSize.replace(/\D+/i, '');
    //                var unit = defaultFontSize.replace(/\d+/i, '');
    //                $scope.$on('scalefactor::changed', function (evt, factor) {
    //                    $el.css('fontSize') = (measure * factor) + unit;
    //                });
    //            }
    //        }
    //    });


</script>
<script src="helpers.js"></script>
<script src="matimage/matimage.js"></script>
<!--<script src="mattext/mattext.js"></script>-->

</body>
</html>