[ng-cloak] {
    display: none;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 10px;
    margin: 0;
    font-size: 13px;
}

em {
    font-style: italic;
}

b, strong {
    font-weight: bold;
}

/*item {*/
/*zoom: 140%;*/
/*}*/

.qti-assessment {
    border: 1px solid #0062AA;
}

.qti-assessment > .qti-title {
    background: #0062AA;
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
}

.qti-content {
    padding: 10px;
}

/* Add a non-breaking space if paragraph is empty */
p:empty:after {
    content: '\00a0';
}

/* Material text - p.3 White space created either by manual space characters or tab characters is preserved within a mattext element. */
mattext, matimage {
    /*white-space: pre-wrap;*/
    display: inline-block;
    /*unicode-bidi: embed;*/
}

/* Material break */
matbreak {
    display: block;
}

flow {
    display: block;
    padding-bottom: 15px;
}

flow:last-child {
    padding: 0;
}

flow_mat {
    display: block;
    padding: 5px;
}

flow_mat[orientation=horizontal] > flow_mat {
    display: inline-block;
}

/*render_choice flow_mat:first-child mattext:before {*/
/*content:url(templates/radio.html)*/
/*}*/

resprocessing {
    display: none;
}

table {
    border-collapse: separate;
    border: 0px solid rgba(0, 0, 0, 0);
}

table .sort-indicator {
    position: absolute;
    right: 4px;
}

table th {
    position: relative;
}

table[rules=all] {
    border: 1px solid #C0C0C0;
}

table[rules=rows] tr {
    border-bottom: 1px solid #C0C0C0;
}

table[rules=rows] tr:last-child {
    border-bottom: none;
    border-bottom: 0px solid rgba(0, 0, 0, 0);
}

table[rules=cols] th, table[rules=cols] td {
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
}

table[frame=above] {
    border-top: 1px solid #C0C0C0;
}

table[frame=below] {
    border-bottom: 1px solid #C0C0C0;
}

table[frame=lhs] {
    border-left: 1px solid #C0C0C0;
}

table[frame=rhs] {
    border-right: 1px solid #C0C0C0;
}

table[frame=hsides] {
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
}

table[frame=vsides] {
    border-top: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
}

table[frame=box] {
    border-top: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
}

table[rules=cols] th:first-child,
table[rules=cols] th:last-child,
table[rules=cols] td:first-child,
table[rules=cols] td:last-child {
    border-left: none;
    border-right: 0px solid rgba(0, 0, 0, 0);
}

thead {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

thead {
    cursor: pointer;
}

th, td {
    outline: 0;
    /*padding: 4px !important;*/
}

thead .fa {
    padding: 0 4px;
}

