<div class="qti-video no-selectable">
    <videogular vg-player-ready="onPlayerReady"
                vg-complete="onCompleteVideo"
                vg-update-time="onUpdateTime"
                vg-update-volume="onUpdateVolume"
                vg-update-state="onUpdateState"
                vg-theme="config.theme.url"
                vg-autoplay="config.autoPlay">
        <vg-video vg-src="config.sources"
                  vg-tracks="config.tracks"
                  vg-loop="config.loop"
                  vg-preload="config.preload"
                  vg-native-controls="config.controls">
        </vg-video>

        <vg-controls vg-autohide="config.autoHide" vg-autohide-time="config.autoHideTime">
            <vg-play-pause-button ng-if="config.playAvailable && config.pauseAvailable"></vg-play-pause-button>
            <vg-timedisplay ng-if="config.progressAvailable">{{ currentTime | date:'mm:ss' }}</vg-timedisplay>
            <vg-scrubBar ng-if="config.progressAvailable">
                <vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
            </vg-scrubBar>
            <div ng-if="!config.progressAvailable" style="width: 100%;display: table-cell;cursor: default"></div>
            <vg-timedisplay ng-if="config.progressAvailable">{{ timeLeft | date:'mm:ss' }}</vg-timedisplay>
            <vg-volume ng-if="config.volumeAvailable">
                <vg-mutebutton></vg-mutebutton>
                <vg-volumebar></vg-volumebar>
            </vg-volume>
            <vg-fullscreenButton ng-if="config.fullscreenAvailable"></vg-fullscreenButton>
        </vg-controls>

        <vg-poster-image vg-url='config.plugins.poster.url'></vg-poster-image>
        <vg-buffering></vg-buffering>
        <vg-overlay-play vg-play-icon="config.theme.playIcon"></vg-overlay-play>
    </videogular>
</div>