<?xml version="1.0" encoding="utf-8" ?>
<root xmlns="http://certiport.com/hammer/sdk/slide">

    <!-- Example of scoped styles (external ref) -->
    <link rel="stylesheet" href="slides/2.x.html/css/green.css"/>

    <!-- Example of scoped styles (embedded) -->
    <style>
        .blue {
            background: blue;
            color: #ffffff;
        }
    </style>

    <!-- Example of scoped script (external ref) -->
    <script src="slides/2.x.html/scripts/callme.js"></script>

    <!-- Example of scoped styles (embedded) -->
    <script>
        var abc = 123;

        function privateFn() {
            return 'wonderbread';
        }

        var counter = 1;
        this.uppercase = function (text) {
            return String(text).toUpperCase();
        };

        this.clickHandler = function (scope, properties) {
            var msg = 'you called test()';
            console.log(msg, abc, privateFn(), properties);
        };
    </script>

    <view>
        <sim-image src="//cdn1.iconfinder.com/data/icons/iconza-circle-social/64/697066-html5-128.png"></sim-image>

        <button class="btn btn-default blue" label="$colors.blue">
            <events click="clickHandler" mousedown=""></events>
            <events click="callMe"></events>
            <events click="callCommand"></events>
            <growl>Step changed {{slides/2.x.html/models/app::distance}}</growl>
        </button>

        <button class="btn btn-default green" label="$green">
            <events click="clickHandler"></events>
            <events click="callMe"></events>
            <events click="callCommand"></events>
        </button>

        <slide id="slide" url="slides/2.x.html/slide2" style="overflow:auto"></slide>
    </view>

    <!-- These are my notes {{alert(123)}} -->
    <listeners>
        <!--<listener on="load" handler="onLoad({displayName: '{{ name }}', quote: '{{ message }}'})"></listener>-->

        <!-- event tag converts to listener -->
        <event on="load" handler="onLoad({displayName: '{{ name }}', quote: '{{ message }}'})"></event>
        <!--<event on="change" target="models/app::distance" handler="notify"></event>-->
    </listeners>

    <properties>
        <name>Rob</name>
        <message>Hello, world!</message>
        <!--<message>Hello, world!</message>-->
    </properties>

    <functions>
        <function name="onLoad">
            <!--<log>{{displayName}} said: "{{quote}}"</log>-->
            <!--<eval>fn.myFunc()</eval>-->
            <!--<eval>alert('{{quote}}')</eval>-->
            <log><%= uppercase('{{quote}}') %> ||| <%= uppercase('{{quote}}') %></log>
        </function>
        <function name="callCommand">
            <exec command="slides/2.x.html/commands/office::chat">{ displayName: "{{ name }}", message: "{{ message }}"}</exec>
        </function>
    </functions>


</root>